# {{ ansible_managed }}
---
version: '3.7'
services:
  unifi:
    image: jacobalberty/unifi:v{{ unifi.version }}
    hostname: unifi
    container_name: unifi
    restart: always
    network_mode: host
    environment:
      JVM_MAX_HEAP_SIZE: {{ unifi.memory }}
      TZ: {{ unifi.timezone }}
      UNIFI_STDOUT: "true"
    volumes:
      - config:/unifi
volumes:
  config:
    driver: local
