---
- name: Install apt-https
  apt:
    name: apt-transport-https
- name: Add Docker gpg key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
- name: Add Docker repo
  ansible.builtin.apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu {{ ansible_facts.distribution_release }} stable
    state: present
    update_cache: true
- name: Install docker
  ansible.builtin.apt:
    update_cache: true
    name:
      - docker-ce
      - docker-ce-cli
    state: present
- name: Docker journald driver
  ansible.builtin.copy:
    src: files/daemon.json
    dest: /etc/docker/
    mode: 644
  register: daemon_json
- name: Restart docker
  ansible.builtin.systemd:
    state: restarted
    name: docker
  when: daemon_json.changed
- name: Add {{ unifi_user }} to docker group
  ansible.builtin.user:
    name: "{{ unifi_user }}"
    groups: docker
    append: true
- name: Install docker-compose
  ansible.builtin.get_url:
    force: yes
    url: https://github.com/docker/compose/releases/download/v{{ compose_version }}/docker-compose-{{ ansible_facts.system | lower }}-{{ ansible_facts.architecture }}
    dest: /usr/local/bin/docker-compose
    mode: 0755
