---
  - name: Stop syslog.socket
    ansible.builtin.service:
      name: syslog.socket
      state: stopped    
  - name: Disable rsyslog
    ansible.builtin.service:
      name: rsyslog.service
      state: stopped
      enabled: false
  - name: Reconfigure journald
    ansible.builtin.lineinfile:
      path: /etc/systemd/journald.conf
      regexp: '^#Storage='
      line: Storage=volatile
    register: journald
  - name: Restart journald
    ansible.builtin.systemd:
      state: restarted
      name: systemd-journald
    when: journald.changed